h1, .empty-cart { 
    text-align: center;
}

.cart-item {
  text-align: center;
  background-color: #ffd8c4ff;
  
  
  margin: 2rem;
  padding: 1.5rem;

  .item-image {
    img {
      width: 120px;
    }
  }

  .name-price {
    margin: .5rem;
    
    h4 {
      margin: 0;
     
    }

    p {
      font: 1rem;
      font-weight: normal;
      
    }
  }

  .btns-container {
    
    button {
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
      font-size: 10px;
      margin-right: 5px;
    }

    .btn-increase {
      color: #fff;
      background-color: #1a1a1a;
    }

    .btn-decrease,
    .btn-trash {
      color: #fff;
      background-color: #d9534f;
    }
  }
  .total-container {
      margin: 2rem;
      text-align: center;
  }

}

@media (min-width: 1024px) {
    .cart-page {
        display: flex;
        justify-content: center;

        .total-container {
            text-align: center;
        }
    }
  .cart-item {
    display: flex;
    justify-content: space-between;
  }
 
  .name-price {
    width: 200px;
  }
}