.hero-image {
  background: 
    url("../../assets/CMADHero.jpeg") center/cover no-repeat, rgba(0,0,0, 1);
   margin-top: auto;    
   @media (min-width: 767px) {
    
   } 
    
    
}


.hero-body {
    background-color: rgba(14, 7, 12, 0.338);
}

// .hero-body {
//     @media (max-width: 767px) {
//         padding: 3.5rem 0rem !important;
        
//         // margin: 3rem 2rem !important;
//     } 
// }
@media (min-width: 370px) {
  .hero-body {
    padding: 4.1rem 1rem !important;
  }  
}

    @media (min-width: 768px) {
       .hero-body { 
          padding: 7rem 3rem !important;
        // margin: 3rem 2rem !important;
      }
      a {
        font-size: 1.2rem !important;
      }
    } 

.hero-body {
    @media (min-width: 1023px) {
        padding: 13rem 2rem !important;
        margin-bottom: 1.1rem;
    } 
}
.hero-body {
    @media (min-width: 1440px) {
        padding: 13rem 0rem !important;
        margin-bottom: 1.1rem;
    } 
}

  @media (min-width: 1800px) {
    .hero-body { 
    padding: 19rem 0rem !important;
      margin-bottom: 1.1rem;
  } 
    a {
      font-size: 2rem !important;
    }
  
}
.shop-link:hover {
    background-color: #f7f063 !important;
    box-shadow: rgba(0, 0, 0,20%) 0px 2px 1px -1px, rgba(0, 0, 0, 14%) 0px 1px 1px 0px, rgba(0, 0, 0, 12%) 0px 1px 3px 0px !important;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.react-parallax img {
    height: 100% !important;
}

.hero-title {
    text-align: center;
    font-size: 1.1rem;
    color: white;
    // @media (max-width: 400px) {
    //   font-size: 1rem !important;
    // }
    @media (min-width: 400px) {
        font-size: 1.3rem;
    }
    @media (min-width: 751px) {
        font-size: 2rem;
    }
    @media(min-width: 1023px) {
        font-size: 3.5rem;
}
@media(min-width: 1440px) {
    font-size: 4rem;
}
@media (min-width: 1800px) {
    font-size: 4rem;
}
}
.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #3b1e57e3 0%,
 
    #ffc7f1 45%,
    #ffd8c4 75%,
    #f7f063 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


// .title-word {
//     animation: color-animation 7s linear infinite;
// }

// .title-word-1 {
//     --color-1: #40FFF9;
//     --color-2: #F7F063;
//     --color-3: #FFD8C4;
// }

// .title-word-2 {
//     --color-1: #40FFF9;
//     --color-2: #F7F063;
//     --color-3: #502b72;
// }
// .title-word-3 {
//     --color-1: #FFD8C4;
//     --color-2: #FFC7F1;
//     --color-3: #F7F063;
// }

// .title-word-4 {
//     --color-1: #FFD8C4;
//     --color-2: #FFC7F1;
//     --color-3: #F7F063;
// }

// @keyframes color-animation {
//     0%    {color: var(--color-1)}
//     32%   {color: var(--color-1)}
//     33%   {color: var(--color-1)}
//     65%   {color: var(--color-2)}
//     66%   {color: var(--color-2)}
//     99%   {color: var(--color-1)}
//     100%  {color: var(--color-1)}
//   }
//   .react-parallax img {
//     width: 100% !important;
//   }

// .title-container {
//     display: grid;
//     place-items: center;  
//     text-align: center;
//     height: 100vh;
// }
.shop-now-btn {
    text-align: center;
    
}
.shop-now {
    padding: .5rem 0 !important;
}