.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/CMADHero.jpeg") center/cover no-repeat;
}


.hero-title {
    text-align: center;
    font-size: 1.25rem;
    color: white;
    @media(min-width: 1024px) {
        font-size: 3rem;
}

}


.shop-now-btn {
    text-align: center;
    
}

