.cart-container {
  margin-left: auto;
  cursor: pointer;
}

.cart-count {
  margin-left: -10px;
  background-color: #FFC7F1;
  color: white;
  padding-right: 4px;
  border-radius: 10px;
}

.shopping-basket {
  color: #3B1E57;
}