.vintage-truck { 
    width: 22% !important;
    margin-left: auto;
    // display: flex;
    // justify-self: center;
  }
.nav-item {
  margin: 0rem 1.2rem;
}

.nav-bar {
  box-shadow: none !important;
}