.vintage-truck { 
    background-image: url('../../assets/vintagetruck.svg');
    width: 35% !important;
    margin-left: auto;
    
    
    @media (max-width: 1023px) {
      width: 40% !important;
    }
    @media (max-width: 425px) {
      width: 55.5% !important;
    }
   @media (max-width: 1000px) {
      text-align: center;
   }
    // display: flex;
    // justify-self: center;
  }
.nav-item {
  margin: 0rem 1.75rem;
  font-size: 1.75rem
}

.nav-bar {
  // box-shadow: none !important;
//    -webkit-box-shadow: 0px .5px 0px 0px rgba(	0, 0, 0, 0.1);
//  -moz-box-shadow: 0px .5px 0px 0px rgba(	0, 0, 0, 0.07);
//  box-shadow: 0px .5px 0px 0px rgba(0, 0, 0, .05);
  background: url('../../assets/clean-gray-paper.png'),linear-gradient(180deg, rgba(220,211,239,1) 0%, rgba(167,229,236,1) 5%, rgba(119,244,234,1) 8%, rgba(64,255,249,0.9514399509803921) 31%, rgba(122,243,233,0.9122242647058824) 66%, rgba(153,233,235,1) 73%, rgba(162,230,236,1) 78%, rgba(190,221,237,1) 87%, rgba(238,205,240,0.9570421918767507) 95%, rgba(255,199,241,0.9794511554621849) 100%);
  border-bottom: 1px solid rgba(59,30,87,0.5);
}