.shop-sign {
    width: 23% !important;
    margin-top: 1.5rem;
    color: #3B1E57;
    // background-color: rgba(64, 255, 249, .2);
    opacity: 100%;
    @media (max-width: 1023px) {
        width: 35% !important;
        margin-top: 1rem;
    }
    @media (max-width: 767px) {
        width: 71% !important;
        margin-top: 1rem;
    }
}
.event-sign {
    width: 26% !important;
    margin-top: 1.5rem;
    color: #3B1E57;
    // background-color: rgba(64, 255, 249, .2);
    opacity: 100%;
    @media (max-width: 1023px) {
        width: 40% !important;
        margin-top: 1rem;
    }
    @media (max-width: 767px) {
        width: 75% !important;
        margin-top: 1rem;
    }
}
.sign-div {
    display: flex;
    padding-bottom: .5rem;
    justify-content: center;
}
.product-list-container {
    margin: 3rem 0;
    .product-list-title {
        margin-top: 5rem;
        text-align: center !important;
    }

    .product-list {
        div {
            margin: 1.5rem 1.2rem;
            cursor: pointer;
        }
    }
}

.product-list-container {
    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        margin: 0 2rem;
        div {
         
        }
    }
}


@media(min-width: 1024px){
    .product-list-container {
        .product-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            margin: 0 2rem;
            div {
             
            }
        }
    }
}