body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFC7F1;
}

@font-face {
  font-family: "Elephant";
  src: local("ELEPHANT"), url("./fonts/ELEPHNT.TTF") format("truetype")
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
